#box-top {
	position: absolute;
	width: 550px;
	height: 260px;
	left: 83px;
	top: 83px;
	background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

#box-bottom {
	position: absolute;
	width: 550px;
	height: 290px;
	left: 83px;
	top: 343px;
	background: #FBF7EE;
}

body {
	font-family:  Inter, sans-serif;
}

h1 {
	font-size: 22px;
	font-weight: 500;
}

#box-heading {
	position: relative;
	top: 25px;
}

h2 {
	font-weight:  800;
	font-size: 22px;
	line-height: 38px;
	color: #fff;
	text-align: center;
}

#number-to-convert {
	font-size: 97.5723px;
	line-height: 1px;
	font-weight: 800;
	text-align: center;
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
	width: 550px;
}


.conversion-results {
	padding: 5px;
}

.unit-labels {
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.unit-values {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

